<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Introduction</string>
	<string>Can You Cross Country Ski?</string>
	<string>Equipment</string>
	<string>History of Cross Country Skiing</string>
	<string>Posture</string>
	<string>Eyes Ahead</string>
	<string>Go for a Walk</string>
	<string>Groomed Resorts</string>
	<string>In The Tracks</string>
	<string>Ski Poles</string>
	<string>How to Fall</string>
	<string>How to Get Up</string>
	<string>Jogging</string>
	<string>Wobbles</string>
	<string>Straight Arms Go Faster</string>
	<string>Getting In and Out of the Tracks</string>
	<string>Stopping</string>
	<string>Step Turns</string>
	<string>Wedge Turns</string>
	<string>Using the Ski Poles</string>
	<string>Hill Climbing</string>
</array>
</plist>
